.App {
  text-align: center;
}

.App-header {
  background-color: blueviolet;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-family: 'Pacifico', cursive;
  line-height: .5em;
}

.App-intro {
  font-size: large;
}

.friends-title {
  color: teal;
}

.friends-greeting-orange {
  color: orange;
}

.friends-greeting-purple {
  color: blueviolet;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
li {
  background-color: lavender;
  margin: 10px;
  padding: 5px;
}