.app {
  text-align: center;
}

.appHeader {
  background-color: blueviolet;
  height: 100px;
  padding: 20px;
  color: white;
}

.emphasize {
  text-decoration: underline;
}

.appTitle {
  font-family: 'Pacifico', cursive;
  line-height: 0.5em;
}
