.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: repeating-linear-gradient(to top, var(--brand-light), var(--brand-dark));
  height: calc(100vh - 140px);
}

.content{
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: calc(100vh - 140px);
  width: 1000px;
}